@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*::-webkit-scrollbar {
  width: 8px;
  background-color: #001f3f;
  border-radius: 10px;
}
*::-webkit-scrollbar-thumb {
  background-color: #ffd700;
  border-radius: 10px;
}
html {
  scroll-behavior: smooth;
}
body {
  min-height: 100vh;
  /* font-family: 'Playfair Display', serif; */
  font-family: "Lato", sans-serif;
  /* font-family: 'Open Sans', sans-serif; */
  /* font-family: 'Inconsolata', monospace; */
  background-color: #ffd700;
  color: #f9f9f9;
  /* overflow: hidden; */
}
